/* CSS for the product card on the right side*/

.custom__product--title {
    text-align: left;
    height:30px;
    font: normal normal 600 25px/30px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin-top: 18px !important;
    margin-left: 28px !important;
}


.custom__price--regular {
    width: 60px;
    height: 22px;

    /* UI Properties */

    text-align: left;
    font: normal normal 600 18px/22px Montserrat;
    letter-spacing: 0px;
    color: #1F47FF;

    opacity: 1;
}

.custom__price--sale {
    /*width: 60px;*/
    height: 22px;

    /* UI Properties */

    text-align: left;
    font: normal normal 600 18px/22px Montserrat ;
    letter-spacing: 0px;
    color: #1F47FF;
    opacity: 1;

}

.custom__price--regular{
    /*width: 64px;*/
    height: 22px;
    display: none;
    /* UI Properties */
    margin-right:20px;
    text-align: left;
    text-decoration: line-through;
    font: normal normal 600 18px/22px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}


.custom__price--container {
    height: 22px;
    display: flex;
}

.custom__price-item--regular{
    
    height: 22px;
 
    /* UI Properties */
    text-align: left;
    text-decoration: line-through;
    font: normal normal 600 18px/22px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin-left: 28px;
}
.custom__price-item{

}

.custom__price-item--sale{
    width: 64px;
    height: 22px ;
    /* UI Properties */
    padding-left:10px;
    text-align: left;
    font: normal normal 600 18px/22px Montserrat;
    letter-spacing: 0px;
    color: #1F47FF;
    opacity: 1;
    
}


.custom__product--tax{
    padding-left: 6px;
    padding-top:6px;
    height: 13px;
    /* UI Properties */
    text-align: left;
    font: normal normal 500 10px/13px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    
}



.custom__product--description{
    width: 210px;
    height: 22px;

    text-align: left;
    font: normal normal 500 18px/22px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin-left: 28px !important;
}

.custom__product-available {
    display:flex;
    align-items:center;
    height: 19px;
   
}

.custom__product--not-available {
    display:flex;
    align-items:center;
    height: 19px;
    
}

.custom__product-available--text {
    padding-left:10px;
    text-align: left;
    font: normal normal medium 15px/19px Montserrat;
    letter-spacing: 0px;
    color: #25A525;
    opacity: 1;


}

.custom__product--not-available--text {
   
    padding-left:10px;
    text-align: left;
    font: normal normal medium 15px/19px Montserrat;
    letter-spacing: 0px;
    color: red;
    opacity: 1;

}

.green-dot {
    margin-left: 28px;
    padding-top: 1px;
    width: 15px;
    height: 15px;
    background: #25A525 0% 0% no-repeat padding-box;
    border: 1px solid #25A525;
    border-radius: 50%; 
    opacity: 1;
    display: inline-block;
}

.red-dot {
    margin-left: 28px;
    padding-top: 1px;
    width: 15px;
    height: 15px;
    background: red 0% 0% no-repeat padding-box;
    border: 1px solid red;
    border-radius: 50%; 
    opacity: 1;
    display: inline-block;
}


.product-form__submit-custom{
    width: 424px  !important;
    height: 52px  !important;

    /* UI Properties */

    margin-left: 28px;
    font: normal normal 600 18px/22px Montserrat !important;
    letter-spacing: 0px !important;
    color: #FFFFFF !important;
    background: #1F47FF 0% 0% no-repeat padding-box  !important;
    border-radius: 6px !important;
    opacity: 1  !important;
}

.product-form__submit-custom:hover{
    cursor: pointer;
    
}


.custom__product-card{
    
    width: 475px !important;
    height: 275px !important;
    
    /* UI Properties */
    margin-top:102.5px;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 20px #00000029;
    border: 1px solid #D5D5D5;
    border-radius: 5px;
    opacity: 1;
    
}

.custom__product-info-wrapper {


}
